<p class="thanks brandon">THANK YOU FOR YOUR INTEREST IN OUR PRE-LAUNCH.</p>
<p class="compiling brandon">WE ARE FACING A TECHNICAL ISSUE, COME BACK IN A COUPLE OF HOURS.</p>
<!-- <p class="go-to brandon">In the meantime, head to  <a href="http://www.yoda-city.com/">www.yoda-city.com</a></p> -->
<p class="again brandon">Thank You Again!</p>
