<p class="byline brandon">Be the first to know <span>&</span> get rewards</p>
<%= form_for @user, url: users_create_path, method: :post do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email" %>
  <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
<% end %>
