<%= render 'shared/navbarsubscriber' %>
<div class="new-index-container">
  <div class="new-index-content">
    <div class="form-new-index">
      <%= render 'users/campaign_ongoing' %>
    </div>
  </div>
</div>
