<div class="footer-container">
  <div class="footer-content">
    <!-- <div class="brand">
      <%= link_to root_path do %>
        <%= image_tag('Logo.png', class: 'logo-image') %>
      <% end %>
    </div> -->

    <div class="menu">
      <a href="#">User Agreement</a>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
    </div>
    <p>Yoda City Inc. © 2019</p>
  </div>
</div>
