<div class="navbar-yoda">
  <div class="navbar-container">
    <div class="navbar-content">
      <div class="left-content">
        <div class="brand">
          <%= link_to root_path do %>
            <%= image_tag('Logo.png', class: 'logo-image') %>
          <% end %>
        </div>
      </div>
      <div class="right-content">
        <div class="menu">
          <!-- <ul>
            <a href="#"><li>Impact</li></a>
            <a href="#"><li>How it works</li></a>
            <a href="#"><li>Safety</li></a>
          </ul> -->
        </div>
        <% if @nav_link_refer %>

        <% else %>
          <div class="action-button new">
            <!-- <%= link_to 'Get Early Acces', subscribe_path %> -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
