<div class="navbar-yoda">
  <div class="navbar-container">
    <div class="navbar-content">
      <div class="left-content">
        <div class="brand">
          <%= link_to root_path do %>
            <%= image_tag('Logo.png', class: 'logo-image') %>
          <% end %>
        </div>
      </div>
      <div class="right-content-subscriber">
        <%= link_to 'Back to Home', root_path %>
      </div>
    </div>
  </div>
</div>
