.footer-container{
  background-color: black;
  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu{
      display: flex;
      margin: 70px 0 10px 0;
      a{
        margin-left: 10px;
        color: #999999;
        font-family: $body-font;
        font-weight: 300;
        font-size: 13px;
      }
    }
    p{
      margin-bottom: 60px;
      color: #999999;
      font-family: $body-font;
      font-weight: 300;
      font-size: 13px;
    }
  }
}


//**** Footer mobile ****
@media (max-width: 600px) {
  .footer-container{
    background-color: #2B2B2B;
    .footer-content{
      .menu{
        display: flex;
        margin: 70px 0 10px 0;
        a{
          font-size: 10px;
        }
      }
      p{
        margin-bottom: 40px;
        font-size: 10px;
      }
    }
  }
}
