form{
  display: flex;
}

input{
  font-family: $body-font;
  outline: none;
}
input#user_email{
  width: 280px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
  box-shadow: 0 0 1px #D5D5D5;
  font-size: 15px;
}
input[type=submit]{
  background-color: transparent;
  padding: 10px 30px;
  text-align: center;
  padding-bottom: 13px;
  border-radius: 5px;
  border: 2px solid $green;
  font-size: 15px;
  font-weight: 500;
  color: $green;
  box-shadow: 0 0 1px $green;
  margin-left: 5px;
  &:hover{
    background-color: $green;
    color: $black;
  }
}


@media (max-width: 500px) {

  form{
    flex-direction: column;
    align-items: center;
  }
  input#user_email{
    width: 306px;
    padding: 8px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 12px;
  }
  input[type=submit]{
    margin-left: 0;
    width: 100%;
    padding: 8px;
    color: white;
    border: 0;
    font-size: 12px;
    background-color: $green;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

}

@media (max-width: 350px){

  input#user_email{
    width: 280px;
    padding: 8px;
    margin-bottom: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type=submit]{
    width: 100%;
    padding: 8px;
    color: white;
    border: 0;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}







