*{
  margin: 0;
  padding: 0;
}
h1{
  font-family: $body-font;
  font-weight: 500;
  font-size: 27px;
  margin-bottom: 60px;
  span{
    color: $green;
  }
}
// **** Fenêtre 1 Mobile ****
.first-mobile-container{
  width: 100%;
  background: image-url("sky_cloud_building_mobile.png") center center no-repeat;
  background-size: cover;
  img{
    width: 100%;
  }
}
.main-mobile-text-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  h1{
    text-align: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  h2{
    font-size: 15px;
    text-align: center;
    color: $dark-grey;
    font-family: $body-font;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .form{
    text-align: center;
    a{
      position: absolute;
      left: 25%;
      text-decoration: none;
      text-decoration: none;
      color: black;
      font-family: $nav-menu-font;
      font-size: 13px;
      border: 1px solid black;
      border-radius: 50px;
      padding: 5px 7px;
      opacity: 0.7;
      margin-top: 15px;
    }
  }
  p.no-newsletter{
    color: $dark-grey;
    font-size: 12.5px;
    font-family: $nav-menu-font;
    margin: 0;
    padding: 0;
  }
  // a.already-subscribe{
  //   text-decoration: none;
  //   color: black;
  //   font-family: $nav-menu-font;
  //   font-size: 13px;
  //   border: 1px solid black;
  //   border-radius: 50px;
  //   padding: 5px 7px;
  //   opacity: 0.7;
  //   &:hover{
  //     opacity: 1;
  //     transition: 0.3s;
  //   }
  // }
}
.main-mobile-text-1 p{
  font-family: $body-font;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.main-mobile-text-1 p span{
  color: $green;
}
.main-mobile-text-1 .form{
  margin: 60px 15px 70px 15px;
}
@media (min-width: 376px), (max-width: 414px){
  .main-mobile-text-1 .form{
    margin: 45px 25px 90px 25px;
  }
  .main-mobile-text-1{
    h1{
      margin-top: 150px;
      font-size: 45px;
    }
  }
}
@media (max-width: 375px){
  .main-mobile-text-1 .form{
    margin: 40px 25px 55px 25px;
  }
}
@media (max-width: 350px){
  .main-mobile-text-1 .form{
    margin: 35px 0 50px 0;
  }
  .main-mobile-text-1{
    h1{
      font-size: 40px;
      text-align: center;
      margin: 0;
      margin-top: 110px;
      margin-bottom: 15px;
    }
  }
  .main-mobile-text-1 p{
    font-size: 12px;
  }
}



// **** Fenêtre 2 Mobile ****
.second-mobile-container{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 50%;
  }
}
.main-mobile-text-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.main-mobile-text-2 h1{
  font-size: 39px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}
.main-mobile-text-2 p{
  font-family: $body-font;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: $dark-grey;
  margin-bottom: 25px;
}




// **** Fenêtre 3 Mobile ****

.third-mobile-container{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
  }
}
.main-mobile-text-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.main-mobile-text-3 h1{
  font-size: 27px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}
.main-mobile-text-3 h2{
  font-family: $body-font;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: $dark-grey;
  margin-bottom: 7px;
}
.main-mobile-text-3 p{
  font-family: $body-font;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: $dark-grey;
  margin-bottom: 25px;
}

.main-mobile-text-3 ul{
  list-style: none;
  width: 80%;
  text-align: left;
  margin-bottom: 20px;
  li{
    font-family: $body-font;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: $dark-grey;
    margin-bottom: 20px;
    float: left;
    margin-left: 15px;
  }
  li:first-child{
    margin-left: 5px;
  }
}
// **** Fenêtre 4 Mobile ****
.fourth-mobile-container{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-mobile-text-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.main-mobile-text-4 h1{
  font-size: 27px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}
.main-mobile-text-4 .license-text-mobile p{
  font-family: $body-font;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: $dark-grey;
  margin-bottom: 25px;
  text-align: left;
}
.license-text-mobile{
  width: 240px;
  margin: 0 auto;
  margin-top: 25px;
}
.license-mobile{
  display: flex;
  align-items: center;
  justify-content: start-flex;
}
.main-mobile-text-4 .license-mobile img{
  width: 25%;
  margin: 0;
  margin-right : 20px;
}
.main-mobile-text-4 .no-license-mobile p{
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
}
.yes-license-mobile{
  margin-top: 15px;
}
.main-mobile-text-4 .yes-license-mobile p{
  margin-bottom : 0;
  font-size: 20px;
}
.main-mobile-text-4  img{
  width: 60%;
  margin-top: 30px;
}
// **** Fenêtre 5 Mobile ****

.fifth-container-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $body-font;
  .text-container{
    margin-top: 30px;
    h2{
      font-size: 27px;
      text-align: center;
      font-weight: 500;
      margin: 0;
      margin-top: 50px;
      margin-bottom: 30px;
      span{
        color: $green;
      }
    }
    ul{
      list-style: none;
      text-align: left;
      margin-bottom: 20px;
      li{
        font-family: $body-font;
        font-size: 17px;
        font-weight: 500;
        color: $dark-grey;
        margin-bottom: 10px;
      }
    }
  }
  img{
    width:100%;
  }
}
//****Contact page****

.contact-mobile-container{
  height: 400px;
  background-color: black;
  display: flex;
  .contact-mobile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    h3{
      color: white;
      font-weight: 400;
      font-family: $body-font;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p{
      color: $green;
      font-family: $body-font;
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 35px;
    }
    .contact-bullet-mobile-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 250px;
      width: 100%;
      .bullet-mobile-group{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-bottom: 20px;
        .bullet-mobile{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          height: 100%;
          img{
          width: 75px;
          }
          .title{
            color: white;
            font-size: 12px;
            font-weight: 700;
            margin-top: 0px;
            margin-bottom:0;
          }
          .info{
            color: white;
            font-size: 9px;
            font-weight: 500;
            margin-top: 5px;

            padding:0;
          }
          a{
            padding: 0;
            &:hover{
            padding: 0;
            }
          }
        }
        .social-mobile{
          .title{
            margin-top: 8px;
          }
        }
      }
    }
  }
}
