.refer-friends-container{
  width: 100%;
  height: 99.6vh;
  .refer-friends-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .refer-friends-top{
      flex-basis: 63%;
      display: flex;
      background: image-url("refer/background-refer-friend.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
      .refer-friends-left{
        flex-basis: 60%;
      }
      .refer-friends-right{
        flex-basis: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h1{
          margin-bottom:33px;
          padding:0;
          font-weight: 500;
          font-size: 50px;
          text-align: center;
          span{
            color: $green;
          }
        }
        h2{
          margin:0;
          padding:0;
          font-weight: 500;
          font-size: 25px;
          color: $dark-grey;
          font-family: $body-font;
          width: 100%;
          text-align: center;
          margin-bottom: 30px;
        }
        p{
          text-align: center;
          font-family: $body-font;
          font-weight: 500;
          font-size: 15px;
          margin-top: 20px;
          opacity: 0.8;
        }
        .copy-link{
          background-color: white;
          padding: 9px;
          border: 1px solid $light-grey;
          border-radius: 3px;
          font-size: 20px;
          text-align: center;
          box-shadow: 0 0 2px #BEBEBE;
          color: $dark-grey;
        }
        .social-links{
          display: flex;
          justify-content: center;
          margin: 25px 0;
          a:last-child{
            margin-left: 70px;
          }
          i{
            font-size: 35px;
            color: $black;
          }
        }
      }
    }
    .refer-friends-bottom{
      flex-basis:37%;
      background-color: $light-grey;
    }
  }
}
